// Layout
body {
	min-width: 320px;
}
#site-container {
	max-width: $global-width;
    margin-right: auto;
    margin-left: auto;	
	// background: #d5d5f3;
	display: block;
}
.post-navigation,
.adslot-2-wrap {
	@include grid-column(12,0);		
}
.post-navigation {	
	@include breakpoint(medium) {
		@include grid-column(5,0);
		padding-top: 1rem;
	}
}
.adslot-2-wrap {
	@include breakpoint(medium) {
		@include grid-column(7,0);		
	}
	.adslot-2 {
		margin: 0 auto;
		@include breakpoint(medium) {
			float: right;
		}
	}
}