// Main Content

// Page Title
.title-wrap,
.tag-list {
	padding: $global-padding 0;
}
.title-wrap {	
	border-bottom: 1px solid $light-gray;
}
.entry-img {
	float: left;
	width: 50px;
	margin-right: .625rem;
	@include breakpoint(medium) {
		margin-right: 0.9375rem;
	}
}
.entry-title {
	h1 {
		font-size: 1.25rem;
		line-height: 1.25rem;
		margin-bottom: rem-calc(5);
	}
	h2 {
		font-size: 0.8rem;
		margin-bottom: 0;
		color: $dark-gray;
	}
}

// Tags List
.tag-list a {
	display: inline-block;
	padding: 4px 12px;
	background: #f7f7f7;
	border: 1px solid #d4d4d4;
	color: #565656;
	margin: 0 .5rem .5rem 0;
	border-radius: 3px;
	font-size: .7142rem;
	text-transform: uppercase;
	@include breakpoint(large) {
		margin: 0 .5rem 0 0;
	}
}

// Meta Data
.entry-metadata,
.working-hours {
	table td {
		font-size: 80%;	
		border-bottom: 1px solid #eaeaea;
		
		.label {
			margin-left: 0.5rem;
		}
	}
}

// Offers
.offers {
	dl dt, dd {
		font-size: 90%;
	}
}

// Reviews
.reviews {
	@include grid-row();
	dl dt {
		font-weight: normal;
		font-size: 90%;
		padding-top: 1rem;
		border-top: 1px solid #eaeaea;
		&:first-of-type {
			border-top: none;
		}
	}
	dd {
		font-size: 90%;
		padding-bottom: 1rem;
	}
}
.reviewer-details {
	@include grid-column(8,0);
}
.rating {
	@include grid-column(3);
	width: 80px !important;
	float: right;
	span {
		color: #FFC107;
	}
}

// Response
.response,
.comment-block,
.user-info-block {
	@include grid-row();	
}
.comment-block {
	textarea {
		margin-bottom: $global-margin;
		padding: 15px 20px;
		font-size: 90%;
		line-height: 1.5;
	}
}
.user-info-block {
	.block-6 {
		@include grid-column(12,0);
		@include breakpoint(intermediate) {
			@include grid-column(6,0);
			padding-left: $global-padding/2;
			padding-right: 0;
			&:first-of-type {
				padding-left: 0;
				padding-right: $global-padding/2;
			}			
		}
	}
	label {
		color: #0a0a0a;
	    width: 100%;
	    height: 2.4375rem;
	    line-height: inherit;
	    margin: 0 0 1rem;
	    padding: .5rem;
	    border: 1px solid #cacaca;
	}	
}
