// Sidebar
.map {
	margin-bottom: $global-margin/2;
	img {
		width: 100%;
	}
}
.categories,
.address {
	margin-bottom: $global-margin+0.25;
}
.phone {	
	position: relative;
	border: 1px solid #cccccc;
    border-radius: .28571rem;
    padding: 0.85em 1em;
    background: #eff2f6;
	h4{ 
		font-size: 1.5625rem;
		margin-bottom: 0;
		line-height:0.75; 
	}
	a {
	    color: #7B8489;
	}
	@include triangle(unverified);	
	&.verified {
		@include triangle(verified);
	}	
}

// Categories
.categories {
	border: 1px solid #e7e7e7;
	padding: .462em;

	h1 {
		font-size: 1rem;
		line-height: 1rem;
		margin-bottom: 0;
		font-weight: 400;
	}
	.menu {
		padding-bottom: .5833em;
		li {
			margin-right: 0;
			padding: .5833em .462em 0 0.462em;
			a { color: #7B8489; }
		}
	}
}

// Post Listing
 .post-list {
 	margin-top: $global-margin+.25;
 	.post {
 		margin-bottom: 0.9375rem;
 	}
 	.post-thumbnail {
 		width: 51px;
 		height: 51px;
 		background: yellow; 		
		float: left;
    	position: relative;
    	margin-right: 1rem;
    	h4 {
    		@include absolute-center;
    	} 		
 	}
 	.post-details {
 		position: relative;
 		width: 100%;
 		padding-right: 38px;
 		line-height: 0; 		
 	}
 	.post-title a {
 		color: $black;
 	}
 	.post-loc {
 		color: transparentize($dark-gray,0.2);
 	} 	
 	.post-score {
	 	position: absolute;
	    top: 0;
	    right: 0;
	    .label {
	    	padding: 9px 6px;
	    }	
 	}
 }